<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="simple.simplef2"/>
      <class name="simple.simplef3"/>
      <class name="simple.simplef4"/>
      <class name="simple.simplef"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
